.bg{
  background: url(../../../../assets/bg-youtube.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
iframe{
  width: 80vw;
  height: calc(80vw/1.77);
 }