<div class="quotes-container" fxLayout="column" fxLayoutAlign="center center">
  <img [ngStyle]="{'width':'50%'}" ngStyle.lt-md="width:80%" src="../../../../assets/border.png" alt="">
  <h2>இந்த தீபாவளியை சிறந்த பட்டாசுகளுடன் கொண்டாடுங்கள்</h2>
  <!-- <img class="side-img bomb" src="../../../../assets/cracker.png" alt=""> -->
  <img fxHide.lt-md="true" class="side-img rocket" src="../../../../assets/cracker2.png" alt="">
  <img fxHide.lt-md="true" class="side-img flowerpot" src="../../../../assets/cracker3.png" alt="">
  <img class="side-img light" src="../../../../assets/cracker4.png" alt="">
</div>