.left{
  background-color: white;
  h2{
    font-size: 30px;
    font-weight: bolder;
    margin-block: 20px;
  }
}
.right{
  background-color: #cff2cd;
  .inside{
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 50%;
  }
  max-height: 100vh;
}

#place-order {
  align-self: center;
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

#place-order:hover {
  opacity: 1;
}

#place-order:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}