<div class="container">
  <div class="box">
    <mat-icon style="position: relative;top: 5px;">info</mat-icon>
    As per 2018 supreme court order, online sale of firecrackers are not permitted! We value our customers and at the same time, respect jurisdiction. We request you to add your products to the cart and submit the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with Shivas Crackers.
  </div>
</div>
