<div class="middle-container">
  <div class="content"  fxLayout="column" fxLayoutAlign="center center">
    <h1>Why choose us</h1>
    <div fxLayout="row" fxLayoutGap="94px" fxLayoutGap.lt-md="44px" fxLayout.lt-md="column">
      <div class="pride-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <mat-icon >more_time</mat-icon>
        <span>15+</span>
        <span>Years of Experience</span>
      </div>
      <div class="pride-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <mat-icon >bolt</mat-icon>
        <span>1000+</span>
        <span>Quality Products</span>
      </div>
      <div class="pride-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <mat-icon >volunteer_activism</mat-icon>
        <span>100%</span>
        <span>Happy Customers</span>
      </div>
    </div>
  </div>
</div>